#areasText ul {
    list-style-type: none;
    column-count: 2;
}

#polygonText {
    display: flex; 
    height: 30px; 
    align-items: center;
}

#polygonText button {
    margin-right: 1em;
}

#polygonText .progress {
    flex-grow: 100;
    margin-bottom: 0px !important;
}