.card{
    max-width: 8.25in;
    margin: 0 auto
}

td.attempts div{
    height: 8px;
    width: 8px;
    border-color: #777
}

table tr{
    height: 18px
}

.attempts{
    min-width: 1px!important
}

.italic{
    font-variant: italic
}

.transparent{
    color: transparent
}

.break{
    display: block
}

.campaign{
    letter-spacing: -.5px
}

.addresses tbody td{
    white-space: nowrap;
    vertical-align: middle
}

img.map{
    width: 4in!important;
    height: 4in!important
}

.marker{
    width: 12px!important;
    text-align: center!important;
    padding: 1px 0 0!important
}

p.print-notes{
    padding: 1em;
    border-style: solid;
    display: inline-block;
    border-radius: 1em;
    margin-bottom: 10pt;
    margin-right: 0
}

.st1_bg{
    background-color: #66D2FF!important;
    color: #000!important
}

.st2_bg{
    background-color: #52D965!important;
    color: #000!important
}

.st6_bg{
    background-color: #ccc!important;
    color: #fff!important
}

.white-bg{
    background-color: #fff!important
}

.returnDate{
    padding: 0.5em 2.5em 0.5em 1.5em;
    border-radius: 0 0 1em 0;
    display: inline-block;
    -webkit-print-color-adjust: exact;
    background: #FFAB91;
    position: absolute;
}

.returnDateString{
    font-weight: bold;
}

.group{
    display: inline-block;
    padding: 0.5em 1.5em 0.5em 2.5em;
    /*font-weight: bold;
    font-style: italic;*/
    border-radius: 0 0 0 1em;
    float: left;
}

.group-name {
  font-weight: bold;
}
/*
.group, .returnDate {
  box-shadow: inset 0.1em 0.1em 0.3em 0px rgba(0,0,0,0.25)
}
*/
.directions {
  margin-top: 10pt !important;
}

h1, a.directions {
  margin-top: 3em !important;
}

/* Colors from https://www.materialui.co/colors */

.group-ls{
    background: #E1BEE7; //purple 1
}

.group-lc{
    background: #AED581; //green 3
}

.group-kh{
    background: #80CBC4; //turquoise 2
}

.group-pf{
    background: #FFE082; // yellow 2
}

.strike{
    text-decoration: line-through
}

.instructions{
    font-size: 90%;
    line-height: normal
}

.instructionsRU{
    font-size: 100%;
    margin-top: 2em
}

.langRU{
    column-count: 2;
    list-style-position: inside
}

.phoneEntries{
    font-size: 90%
}
.campaignHeader{
    margin: 0 0 10pt
}

.doNotCallBadge{
    background-color: #444!important;
    color: #fff!important
}

.sizeToggle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1%;
    background: rgba(255,255,255,.9);
    border: 2px #000 solid;
    border-radius: 1em;
    padding: 1em;
    z-index: 99;
}

.sizeToggle ul{
    padding: 0;
    margin-bottom: 0
}

.sizeToggle ul li{
    list-style-type: none
}

#mqMe{
    margin-left: 1em
}

.label-language{
    border: 1px solid rgba(0,0,0,.4);
    color: #000!important;
    font-size: 90%!important;
    margin: 0 .5em
}

#pageLine{
    border-top: 2px solid #ccc;
    width: 100%;
    position: absolute;
    top: 10.15in;
    right: 0
}

#transferDiv span.label {
  width: 15em;
}

#transferDiv textarea {
  width: 30em;
  height: 10em;
}

@media print{
    .sizeToggle{
        display: none!important
    }
    #pageLine{
        display: none!important
    }
}
